// Place all the styles related to the blog/ controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well-body {
  .thumbnail {
    display: inline-block;
    margin-bottom: 0;
  }

}

.tag {
  color: lighten(#286090,20%);
  text-transform: uppercase;
}
