#job-listings {
  .job {
    background-color: #e4e4e4;
    padding: 1em;
    border-radius: 5px;
    margin: 0;
  }
  hr {
    border-top: 1px solid #dadada;
  }
  .job-key-details {
    font-weight: 700;
    font-size: 0.9em;
  }
}

#job-listing {
  .job-title {
    font-size: 2em;
    color: #6aa1d0;
    margin-bottom: 1em;
  }
  .job-key-details {
    span {
      letter-spacing: .3px;
      display: inline-block;
      margin: 0 .3em;
    }
  }

}
