#job-listings {
  .job {
    background-color: #e4e4e4;
    padding: 1em;
    border-radius: 5px;
    margin: 0;
  }
  hr {
    border-top: 1px solid #dadada;
  }
  .job-key-details {
    font-weight: 700;
    font-size: 0.9em;
  }
}
